{{ range .Values.ingresses }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .name }}
spec:
  rules:
  {{ range .rules }}
  - host: {{ .host }}
    http:
      paths:
      - backend:
          service:
            name: {{ .serviceName }}
            port:
              number: {{ .servicePort }}
        pathType: ImplementationSpecific
        path: /(.*)
  {{ end }}
---
{{ end }}
