apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.etl.name | quote }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.etl.name | quote }}
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .Values.etl.name | quote }}
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: db
          image: {{ .Values.etl.image | quote }}
          resources: {{ toYaml .Values.etl.resources | nindent 12 }}
          env:
            - name: EXTERNAL_ADDRESS
              value: {{ .Values.etl.EXTERNAL_ADDRESS | quote }}
            {{- if .Values.etl.S3SecretName }}
            - name: BUCKET_NAME
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.S3SecretName | quote }}, "key":"BUCKET_NAME"}}
            - name: AWS_ACCESS_KEY_ID
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.S3SecretName | quote }}, "key":"AWS_ACCESS_KEY_ID"}}
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.S3SecretName | quote }}, "key":"AWS_SECRET_ACCESS_KEY"}}
            - name: S3_ENDPOINT_URL
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.S3SecretName | quote }}, "key":"S3_ENDPOINT_URL"}}
            - name: AWS_REGION
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.S3SecretName | quote }}, "key":"AWS_REGION"}}
            {{- else }}
            - name: BUCKET_NAME
              value: "dgp-app"
            - name: AWS_ACCESS_KEY_ID
              value: "access_key"
            - name: AWS_SECRET_ACCESS_KEY
              value: "secret_key"
            - name: S3_ENDPOINT_URL
              value: "http://{{ .Values.minio.name }}:9000"
            - name: AWS_REGION
              value: "us-east-1"
            {{- end }}
            - name: AIRFLOW__CORE__PARALLELISM
              value: "1"
            - name: GOOGLE_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"GOOGLE_KEY"}}
            - name: GOOGLE_SECRET
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"GOOGLE_SECRET"}}
            - name: PUBLIC_KEY_B64
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"PUBLIC_KEY_B64"}}
            - name: PRIVATE_KEY_B64
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"PRIVATE_KEY_B64"}}
            - name: SENDGRID_API_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"SENDGRID_API_KEY"}}
            - name: DATABASE_URL
              value: "postgresql://postgres:postgres@{{ .Values.db.name }}/auth"
            - name: DATASETS_DATABASE_URL
              value: "postgresql://postgres:postgres@{{ .Values.db.name }}/datasets"
            - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
              value: "postgresql://postgres:postgres@{{ .Values.db.name }}/airflow"
            - name: DATAFLOWS_AIRTABLE_APIKEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"DATAFLOWS_AIRTABLE_APIKEY"}}
            - name: ETLS_DATABASE_URL
              value: "postgresql://postgres:postgres@{{ .Values.db.name }}/etls"
            - name: ETL_GOOGLE_MAPS_API_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_GOOGLE_MAPS_API_KEY"}}
            - name: ETL_GUIDESTAR_USERNAME
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_GUIDESTAR_USERNAME"}}
            - name: ETL_GUIDESTAR_PASSWORD
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_GUIDESTAR_PASSWORD"}}
            - name: ETL_GOVMAP_API_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_GOVMAP_API_KEY"}}
            - name: ETL_AIRTABLE_BASE
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_AIRTABLE_BASE"}}
            - name: ETL_MAPBOX_ACCESS_TOKEN
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"ETL_MAPBOX_ACCESS_TOKEN"}}
            - name: ES_INDEX_NAME
              value: {{ .Values.api.ES_INDEX_NAME | quote }}
            - name: ES_DATAPACKAGE
              value: {{ .Values.api.ES_DATAPACKAGE | quote }}
            - name: ES_HOST
              value: {{ .Values.elasticsearch.name | quote }}
            - name: ES_PORT
              value: "9200"
            - name: ES_HTTP_AUTH
              {{- if .Values.elasticsearch.secretName }}
              valueFrom: {"secretKeyRef":{"name":{{ .Values.elasticsearch.secretName | quote }}, "key":"ES_HTTP_AUTH"}}
              {{- else }}
              value: "elastic:Aa123456"
              {{- end }}
            - name: CKAN_API_KEY
              valueFrom: {"secretKeyRef":{"name":{{ .Values.etl.secretName | quote }}, "key":"CKAN_API_KEY"}}
            - name: CKAN_HOST
              value: {{ .Values.etl.ckanHost | quote }}
            - name: CKAN_OWNER_ORG
              value: "muni"
            - name: ENV_NAME
              value: {{ .Values.etl.envName | quote }}
            - name: ETL_MAPBOX_TILESET_ID
              value: {{ .Values.etl.mapboxTilesetId | quote }}
            - name: ETL_MABPOX_TILESET_NAME
              value: {{ .Values.etl.mapboxTilesetName | quote }}

